body{
	background-color: rgba(172, 172, 172, 0.79);
}

.wrapper{
/*	width: 100px;*/
	background-color: #ffffff;
	padding: 30px 30px 30px 30px;
/*
	padding-bottom: 0px;
	padding-top: 10px;
*/
	box-sizing: border-box;
	margin: 30px 20px 10px 5px;
}